*.~1~
*.log
*.dat
*.lck
*.class
infodb/**/*
.idea/**/*
logs/**/*
public_html/**/*
infodb/
.idea/
logs/
public_html/
../EvolutionOfComplexity/*
../FoundDataScience/*
./*
../IntelligentAgents/
../Machine_learning

AdXAgent/.idea/workspace.xml
AdXAgent/.idea/*
AdXAgent/.idea/**/*
*.class
AdXAgent/.idea/workspace.xml
AdXAgent/.idea/workspace.xml
